md-content
  md-tabs.md-accent.nav(md-selected='data.selectedIndex')
    md-tab#tab1(aria-controls='tab1-content') Patiënten
    md-tab#tab2(aria-controls='tab2-content') Planning
    md-tab#tab3(aria-controls='tab3-content') Dossier
  ng-switch.tabpanel-container.main(on='data.selectedIndex' flex layout="column" layout-fill)
    #tab1-content(role='tabpanel', aria-labelledby='tab1', ng-switch-when='0', md-swipe-left='next()', md-swipe-right='previous()', flex layout-align="center center")
      md-card(flex)
        md-card-content
          h2.text-center Patiënten in huidige kamer:
          md-list
            md-item(ng-repeat="item in friends | limitTo:4", ng-click="current = $index; data.selectedIndex=2")
              md-item-content.smaller
                .md-tile-left
                  img.face(ng-src="{{item.face}}" alt="{{item.name}}")
                .md-tile-content
                  h3 {{item.name}}
                  h4 diagnose: qwerty
    #tab2-content(role='tabpanel', aria-labelledby='tab2', ng-switch-when='1', md-swipe-left='next()', md-swipe-right='previous()')
      md-card
        md-card-content
          div(ui-calendar="uiConfig.calendar", ng-model="arts")
    #tab3-content(role='tabpanel', aria-labelledby='tab3', ng-switch-when='2', md-swipe-left='next()', md-swipe-right='previous()')
      md-card
        md-card-content
          h2 Dossier van:
          md-item-content.smaller
            .md-tile-left
              img.face(ng-src="{{friends[current].face}}" alt="{{friends[current].name}}")
            .md-tile-content
              h3 {{friends[current].name}}
              h4 diagnose: qwerty
          md-button.md-raised.md-primary(ng-click="add = true", ng-hide="add") Item toevoegen 
      md-card(ng-show="add")
        md-card-content
          md-input-container(flex)
            label Datum
            input(ng-model="nu")
          md-input-container(flex)
            label Locatie
            input(ng-model="locatie")
          md-input-container(flex).md-input-has-value
            label Type
          select
            option Intake
            option Behandeling
            option Chirurgie
            option Medicijnen
          md-input-container(flex).md-input-has-value
            label Opmerkingen
            input(ng-model="comment")
          md-button.md-raised.md-primary(ng-click="add = false") Opslaan
      md-card
        md-card-content
          md-item-content
            .md-tile-left
              img.face(ng-src="{{friends[19].face}}")
            .md-tile-content
              h3 Diagnose
              p Dokter {{friends[19].name}} heeft de volgende diagnose vastgesteld:
              p Uw amandelen moeten worden verwijdert. Er wordt een behandeling voor u ingeroosterd.
      md-card
        md-card-content
          md-item-content
            .md-tile-left
              img.face(ng-src="{{friends[13].face}}")
            .md-tile-content
              h3 Diagnose
              p Verpleger {{friends[13].name}} heeft de volgende handeling gedaan:
              p U bent opgenomen in kamer 02A34-3.