md-content(flex layout="column" layout-fill).keuzes
  md-card(flex layout-align="center center", ui-sref="bezoeker").bezoeker
    md-card-content
      h1 Bezoeker
  md-card(flex layout-align="center center", ui-sref="patient").patient
    md-card-content
      h1 Patiënt
  md-card(flex layout-align="center center", ui-sref="arts").arts
    md-card-content
      h1 Arts